<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ribbon.css' %}" />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'posts' %}">Posts</a></li>
        <li class="slider"></li>
      </ul>
      <div class="top"></div>
    </nav>
  </body>
</html>
